.App {
  box-sizing: border-box;
}

.squares-container {
  margin-top: 50px;
}

.squares-item {
  border: solid 1px red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  height: 80px;
}

.squares-item:hover {
  cursor: pointer;
}

.item-move {
  list-style-type: none;
  margin: 10px;
}

.badge-player {
  margin-left: 100px;
  margin-top: 30px;
}
